<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Fill the details</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input
                name="email"
                type="email"
                [(ngModel)]="user.email"
                #model="ngModel"
                placeholder="your@email.com"
                required
                pattern="^[a-z0-9.%+]+@[a-z09.-]+\.[a-z]{2,4}"
              ></ion-input>
              <small style="color: red" *ngIf="user.email ===''&&invalidForm">
                Required</small
              >
              <small
                style="color: red"
                *ngIf="errorInEmailFormat && invalidForm"
              >
                invalid email</small
              >
            </ion-item>
            <ion-item>
              <ion-input
                name="name"
                type="name"
                placeholder="Name"
                [(ngModel)]="user.name"
                #model="ngModel"
                required
              ></ion-input>
              <small style="color: red" *ngIf="user.name ==='' && invalidForm">
                Required</small
              >
            </ion-item>
            <ion-list>
              <ion-radio-group
                #modlel="ngModel"
                [(ngModel)]="user.gender"
                required
                name="gender"
                value="gender"
              >
                <ion-list-header>
                  <ion-label>Gender</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio slot="start" value="male"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio slot="start" value="female"></ion-radio>
                </ion-item>
              </ion-radio-group>
              <small style="color: red" *ngIf="user.gender ===''&& invalidForm">
                Please choose gender</small
              >

              <ion-item>
                <ion-label>City</ion-label>
                <ion-select
                  [(ngModel)]="user.city"
                  #model="ngModel"
                  name="city"
                  placeholder="Select city"
                >
                  <ion-select-option *ngFor="let city of cities" [value]="city"
                    >{{city}}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <small style="color: red" *ngIf="user.city ===''&& invalidForm">
                Please select an option</small
              >
              <ion-item>
                <ion-label
                  position="stacked"
                  ng2FileDrop
                  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                  (fileOver)="fileOverBase($event)"
                  [uploader]="uploader"
                  >Photo upload
                </ion-label>
                <div
                  style="display: block; margin-top: 24px"
                  class="file-input-container"
                >
                  <label>
                    <input
                      type="file"
                      ng2FileSelect
                      [uploader]="uploader"
                      multiple
                    />

                    Add Files
                  </label>
                </div>
                <h2>Files: {{ uploader?.queue?.length }}</h2>
                <ion-list>
                  <ion-reorder-group
                    (ionItemReorder)="reorderFiles($event)"
                    disabled="false"
                  >
                    <ion-item *ngFor="let item of uploader.queue">
                      <ion-label> {{ item?.file?.name }} </ion-label>
                      <ion-reorder></ion-reorder>
                    </ion-item>
                  </ion-reorder-group>
                </ion-list>
              </ion-item>

              <ion-item>
                <ion-label position="fixed">Mobile</ion-label>
                <ion-input
                  name="mobile"
                  type="number"
                  placeholder="9995118880"
                  [(ngModel)]="user.mobile"
                  #modlel="ngModel"
                  required
                ></ion-input>
                <small
                  style="color: red"
                  *ngIf="user.mobile ===''&& invalidForm"
                >
                  Please select an option</small
                >
              </ion-item>

              <ion-item>
                <ion-label>Interests</ion-label>
                <ion-select
                  [(ngModel)]="user.interests"
                  #model="ngModel"
                  name="interests"
                  multiple="true"
                >
                  <ion-select-option
                    *ngFor="let interest of interests"
                    [value]="interest"
                    >{{interest}}</ion-select-option
                  >
                </ion-select>
                <small
                  style="color: red"
                  *ngIf="user.interests.length === 0 && invalidForm"
                >
                  Please select an option</small
                >
              </ion-item>
            </ion-list>
          </div>
          <div padding>
            <ion-button
              size="large"
              type="submit"
              expand="block"
              [class.invalid]="invalidForm"
              >{{!updatingDetails?'Submit':'Update'}}</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
